.App {
  text-align: center;
}

.Drug {
  background-color: lightpink;
  color:brown;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  margin-top:1em;
}

.DrugList{
  color: blueviolet;
  padding: 50px;
}