.App {
  text-align: center;
}

body{
  color: white;
}

a{
  color: white;
}

.mainDiv{
  background-color: rgb(43, 43, 43);
  /* margin: -1vh; */
  padding: 40px;
}

.Drug {
  background-color: rgb(52, 52, 207);
  color:yellow;
  text-align: center;
  border: 1px solid;
  border-radius: 500px;
  margin-top:1em;
}

.DrugList{
  color: blueviolet;
  padding: 50px;
  display: flex;
  flex-direction: column;
}